<html>
{% load static %}
<link rel="stylesheet"
type="text/css"
href="{% static 'accounts/css/bootstrap.min.css' %}"/>
    <head>
        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>


    <body>
        <br>
    <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/register">Register </a></li>
          </ul>

      </div>
    </nav>
</div>
        {% block body %}
            <h1>Base</h1>
        {% endblock %}
    </body>
</html>
